.dsf-card-product-list {
  display: flex;
  flex-direction: column;
  border: none;
  width: 100%;
  max-width: 960px;
  border-radius: 5px;
  background-color: var(--color-bg-card);
  padding: 0 20px;
}

.dsf-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: var(--color-border-secondary);
  border: 1px solid var(--color-border-secondary);
  padding: 0 20px;
  height: 53px;
  margin-top: 20px;
  border-radius: 5px;
}

.dsf-product:last-child {
  margin-bottom: 20px;
}

.dsf-product-name {
  font-size: 12px;
  font-weight: 400px;
  color: var(--color-font-secondary);
}

.dsf-product-price {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-font-tertiary);
}
