@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-bg-header: #55bc04;
  --color-bg-main: #c2c2c2;
  --color-bg-card: #fff;

  --color-bg-buttons: #55bc04;

  --color-font-primary: #fff;
  --color-font-secondary: #c2c2c2;
  --color-font-tertiary: #55bc04;

  --color-border-primary: #c2c2c2;
  --color-border-secondary: #55bc04;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--color-bg-main);
}

main {
  padding: 0 20px;
}

/* Button style */

button {
  margin-top: 20px;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--color-bg-buttons);
  color: var(--color-font-primary);
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}

/*Sections style*/

.dsf-section-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
